*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgba(0, 0, 0, 0.842);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* Styles of the calculator*/
.calculator {
    width: 300px;
    min-height: 80%; 
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 4px 4px 2px rgba(255, 255, 255, 0.377);
    min-height: 79%;

    display: grid;
    grid-template-columns: repeat(4, minmax(1fr, 1fr));
    grid-template-rows: repeat(6, minmax(1fr, 1fr));
    gap: 8px;
}

.calculator-screen {
    grid-column: span 4;
    border: 1px solid #a09f9f;
    background-color: #80808015;
    font-size: 2.5ch;
    padding: 5px;
    color: rgba(0, 0, 0, 0.849);
    min-height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#operations {
    word-break: break-all;
}

#result {
    font-weight: 600;
}

/* Buttons styles */
.function {
    border: none;
    border-radius: 60%;
    background-color: inherit;
    font-size: 1.9rem;
}

.function:hover {
    cursor: pointer;
}

.operator {
    background-color: #1b8cd86c;
}

.delete {
    background-color: #f79d93;
}

.number:hover {
    background-color: #dbd8d89f;
}

.equals {
    grid-column: span 2;
    border-radius: 30px;
}

.equals:hover {
    background-color: #8ff18f;
}

/* Footer styles*/

.footer {
    display: flex;
    justify-content: center;
}

.footer p{
    font-size: 1.2rem;
    color: white;
}

a {
    color: white;
}

svg {
    width: 30px;
    height: 30px;
}

@media(width < 425px) {
    .calculator {
        width: 90vw;
        min-width: min-content;
    }
}